// Variable overrides
$primary:       #FF4A04 !default;
$secondary:     #FF4A04 !default;
$light:         #FF4A04 !default;
$dark:         #000000 !default;

/*$success:       $green !default;
$info:          $cyan !default;
$warning:       $yellow !default;
$danger:        $red !default;
*/
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000000 !default;
$white: #FFFFFF !default;

$body-bg:                  $black !default;
$body-color:               $white !default;

$hover-color: $primary !default;
$active-color: $secondary !default;
$disabled-color: $gray-300 !default;


//Cards
$card-cap-bg:                       rgba($body-bg, .5) !default;
$card-cap-color:                    $body-color !default;
$card-color:                        $body-color !default;
$card-bg:                           $body-bg !default;

// Navbar
$navbar-color:                        $white !default; //$gray-600 !default;
$navbar-hover-color:                  $hover-color !default; //$gray-800 !default;
$navbar-active-color:                 $active-color !default; //$gray-800 !default;
$navbar-disabled-color:               $disabled-color !default; //$gray-300 !default;

// Sidebar
$sidebar-color:                    #fff !default;
$sidebar-bg:                        $dark;

// Sidebar Header
$sidebar-header-bg:                   rgba(0,0,0,.2) !default;
// Sidebar Form
$sidebar-form-bg:                     darken($sidebar-bg,10%) !default;
$sidebar-form-color:                  #fff !default;
$sidebar-form-placeholder-color:      rgba(255,255,255,.7) !default;
// Sidebar Navigation
$sidebar-nav-color:                   #fff !default;
$sidebar-nav-title-color:             $gray-200 !default;
$sidebar-nav-link-color:              $sidebar-color;
$sidebar-nav-link-bg:                 transparent !default;
$sidebar-nav-link-icon-color:         $gray-600 !default;

//$sidebar-nav-link-hover-color:        $hover-color;
$sidebar-nav-link-hover-bg:           #B92100;
$sidebar-nav-link-hover-icon-color:   #fff !default;

$sidebar-nav-link-active-color:       $active-color;
$sidebar-nav-link-active-bg:          lighten($sidebar-bg, 5%) !default;
//$sidebar-nav-link-active-icon-color:  $primary;
$sidebar-nav-link-active-borders:     0 !default;

$sidebar-nav-link-disabled-color:       darken(#fff, 30%) !default;
$sidebar-nav-link-disabled-bg:          $sidebar-bg !default;
$sidebar-nav-link-disabled-icon-color:  $sidebar-nav-link-icon-color !default;


// Sidebar Footer
$sidebar-footer-bg:                   rgba(0,0,0,.2) !default;

// Sidebar Minimizer
$sidebar-minimizer-bg:                rgba(0,0,0,.2) !default;
$sidebar-minimizer-indicator-color:   $white !default; //$gray-600 !default;

// Table
$table-color:                 $body-color !default;
$table-bg:                    $body-bg !default;
$table-accent-bg:             rgba($body-bg, .05) !default;
$table-hover-color:           $table-color !default;
$table-hover-bg:              rgba($body-bg, .075) !default;
$table-active-bg:             $table-hover-bg !default;

$table-head-bg:               $black !default;
$table-head-color:            $white !default;

// Breadcrumbs
$breadcrumb-bg:                     $black !default;
$breadcrumb-divider-color:          $white !default;
$breadcrumb-active-color:           $white !default;
$breadcrumb-divider:                quote("/") !default;

// List group

$list-group-color:                  $body-color !default;
$list-group-bg:                     $body-bg !default;

// Footer
$footer-bg:                           $body-bg !default;
$footer-color:                        $body-color !default;